@import '../../../../Styles/variables';

.ContactForm {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 60%;
  backface-visibility: hidden;
  position: relative;
  transition: all 500ms ease-out;
  
  // CSS Transition Classes
  &_enter {
    opacity: 0;
  }
  
  &_enter_active {
    opacity: 1;
  }
  
  &_enter_done {
    opacity: 1;
  }

  &_exit {
    opacity: 1;
  }

  &_exit_active {
    opacity: 0;
  }

  &_exit_done {
    opacity: 0;
  }

  &__Name,
  &__Email,
  &__Message {
    position: relative;
    width: 100%;
    backface-visibility: hidden;

    &_validated::before {
      background-color: $blue1;
      box-shadow: 0 1rem 4rem $blue1;
      width: 100% !important;
    }
    
    &_notValidated::before {
      background-color: $red2;
      box-shadow: 0 1rem 4rem $red2;
      width: 100% !important;
    }

    &::before {
      content: '';
      display: block;
      position: absolute;
      left: 0;
      bottom: 0;
      width: 0;
      height: 3px;
      z-index: 100000;
      transition: all 400ms ease-out;
      backface-visibility: hidden;
      border-radius: 50%;
    }   

    &:focus-within::before{
      width: 100%;
    }
  }

  &__Name,
  &__Email {    
    backface-visibility: hidden;
  }

  &__Name {
    margin: 2rem 0 5.5rem;
  }
  
  &__Email {
    margin-bottom: 5.5rem;
  }

  &__Message {
    margin-bottom: 3rem;
    position: relative;
    z-index: 1000;
    backface-visibility: hidden;
  }

  &__Error {
    position: absolute;
    font-weight: bold;
    text-shadow: 0 0 5px black;
    top: 100%;
    left: 0;
    font-size: 1.8rem;
    letter-spacing: $smallest-letter-spacing;
    color: $red1;
    transition: all 500ms ease-out;

    &_server {
      margin-top: 1rem;
    }
  }

  &__SentConfirmation {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: max-content;

    &_text {
      font-size: 4.3rem;
      letter-spacing: $small-letter-spacing;
      color: #fff;
      text-shadow: 0 0 3px black;
    }
  }
}
