@import '../../../../Styles/variables';

.ContactInput {
  display: block;

  label {
    display: inline-block;
    transition: all 300ms ease-out;
    letter-spacing: $small-letter-spacing;
    font-size: 1.8rem;      
    font-weight: bold;
    color: white;
    backface-visibility: hidden;
    text-transform: capitalize;
    z-index: -5;
  }
  
  input,
  textarea {
    position: relative;
    font: inherit;
    font-weight: bold;
    font-size: $smaller-font-size;
    letter-spacing: $smallest-letter-spacing;
    color: white;
    outline: none;
    backface-visibility: hidden;
    opacity: .85;
    transition: all 300ms ease-out;
  }

  textarea {
    // 1280px x 550px
    @media only screen and (max-width: 80em) and (max-height: 34.68em) {
      height: 10rem;
    }
  }

  &__Label {
    position: absolute;
    left: 1rem;
    transform: translate3d(0, 50%, 0);
    opacity: .85;
    backface-visibility: hidden;
    
    &_name,
    &_email {
      bottom: 50%;
    }
  
    &_message {
      bottom: 90%;
    }
  }

  &__LabelFull {
    position: absolute;
    left: 1rem;
    backface-visibility: hidden;
  }

  &__Input {
    width: 100%;
    padding: .75rem 1.5rem;
    border: none;
    border-bottom: 3px solid transparent;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    background-color: transparent;
    backface-visibility: hidden;
    border-bottom: 3px solid rgba($blue3, .2);
    
    &_validated:focus {
      border-bottom: 3px solid $blue3;
      box-shadow: 0 1.5rem 4rem -2.5rem $blue1;
      opacity: 1;
    }
    
    &_notValidated:focus {
      border-bottom: 3px solid $red3;
      box-shadow: 0 1rem 4rem -2.5rem $red2;
      opacity: 1;
    }

    &_message {
      resize: vertical;
      max-height: 30vh;
    }
  }

  &__Input:focus + &__Label,
  &__LabelFull {
    color: white !important;
    font-size: 2.25rem !important;
    backface-visibility: hidden;
    top: auto;
    bottom: 100%;
    transform: translate3d(-3rem, -25%, 0);
    opacity: 1;
  }
}